*{
    box-sizing: border-box;
    
   
}
body{
    background-color:slategrey;
}
.section-center{
    text-align: center;
    background-color: lightblue;
    position: relative;
    z-index: 30;
    margin: 20vh auto;
    max-width: 50vw;
    border-radius: 5px;
    box-shadow: 0px 3px 4px black;
    
}
.alert{
    text-transform: capitalize;
    position: relative;
    font-size: 1.2rem;
    border-radius: 8px;
    display: inline-block;
    width: 80%;
}
.alert-danger{
    background-color: rgb(241, 183, 183);
}
.alert-success{
    background-color: green;
}
.header-container{
    margin-top: 2vh;
    position: relative;
    display: inline-block
}
.header h1{
    text-transform: capitalize;
}
.form-container{
    position: relative;
    width: 80%;
    margin: 0px auto;
    
}
.form{
    display:inline-flex;
    position: relative;
    width: 100%;
}
.to-do{
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    width: 75%;
    border: none;
}
.submit-btn{
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25%;
    background-color: steelblue;
    transition: all 0.5s;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 5px;
}
.submit-btn:hover{
    background-color: lightsteelblue;
    color: white;
}
.list-container{
    position: relative;
    width: 80%;
    margin: 5vh auto;
    visibility: hidden;
    
}
.show-list{
    visibility: visible;
}
.list{
    display: inline-block;
    margin-bottom: 2vh;
    width: 100%;
    position: relative;
    border-radius: 5px;
    padding: 2px;
    
    
    
}
.time-count{
    position: absolute;
    width:40%;
    left: 40%;
    top: 25%;
    
    
}
.wrapper{
    display: grid;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 2ex);
    column-gap: 1ex;
}
.time{
    position: relative;
    margin:0 ;
    width: 100%;
    
}

.list:hover{
    background-color: lightskyblue;
    transition: all 1s;
}
.list p{
    margin: 0px;
    max-width: 35%;
    word-wrap: break-word;
    text-transform: capitalize;
    text-align: left;
}
.to-do-list{
    position: relative;
    display: inline-block;
    width: 100%;
    
}
.btn-container{
    display: inline-flex;
    position: absolute;
    right: 0px;
    top: 25%;
    bottom: 25%;
    margin: 0px;
}
.edit-btn{
    color: green;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    background: transparent;
}
.delete-btn{
    color: red;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}
.clr-btn{
    border: none;
    background-color: lightblue;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: red;
    margin-bottom: 2vh;
    
}

@media screen and (max-width:650px){
    .section-center{
        text-align: center;
        background-color: lightblue;
        position: relative;
        z-index: 30;
        margin: 20vh auto;
        min-width: 80vw;
        border-radius: 5px;
        box-shadow: 0px 3px 4px black;
        
    }
}
@media screen and (max-width:850px){
    .section-center{
        text-align: center;
        background-color: lightblue;
        position: relative;
        z-index: 30;
        margin: 20vh auto;
        min-width: 80vw;
        border-radius: 5px;
        box-shadow: 0px 3px 4px black;
        
    }
}
@media screen and (max-width:1050px){
    .section-center{
        text-align: center;
        background-color: lightblue;
        position: relative;
        z-index: 30;
        margin: 20vh auto;
        min-width: 80vw;
        border-radius: 5px;
        box-shadow: 0px 3px 4px black;
        
    }
}